/*Header section*/
body {
    background-color: #fbf4e4;
    /* #blanchedalmond; */
    font-family: 'Varela Round', sans-serif;

}
h1 {
    color: #2a943a;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    position: absolute;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.profile_image {
    border-radius: 50%;
    width: 150px;
    height: 150px;

}
.button-56 {
  align-items: center;
  background-color: #2a943a;
  border: 1px solid #57350d;
  border-radius: 8px;
  box-sizing: border-box;
  color: #57350d;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}


