/*Header section*/
body {
    background-color: #F1FEFF;
    /* #blanchedalmond; */
    font-family: 'Mononoki', monospace;
}
h1 {
    color: #2a943a;
    font-family: 'Mononoki', monospace;
    position: absolute;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

